<!-- selectedHero is undefined when the application first launches, so the application
    breaks. to fix this, the ngIf directive causes this div to be rendered only if the expression
    returns true -->
<div *ngIf="hero">
    <h2>{{hero.name | uppercase}} Details</h2>
    <div><span>id: </span>{{hero.id}}</div>
    <div>
        <label>name:
            <!-- ngModel is used for 2-way data binding, in this case allowing us to dynamically change the name of a hero on-screen -->
            <input [(ngModel)]="hero.name" placeholder="name"/>
        </label>
    </div>
    <button (click)="goBack()">go back</button>
    <button (click)="save()">save</button>
</div>
