<!-- double curly braces are angular syntax for interpolation binding
     this example simply adds the title property from app component to an h2 element -->
<h1>{{title}}</h1>
<!-- navigation to different pages in the application -->
<nav>
    <!-- routerLink is a directive that turns user clicks into router navigation -->
    <a routerLink='/dashboard'>Dashboard</a>
    <a routerLink="/heroes">Heroes</a>
</nav>
<!-- a router-outlet element tells the router where to display components that have been routed to -->
<router-outlet></router-outlet>
<!-- the component selector for the component that displays application messages from the messages service -->
<app-messages></app-messages>