<h2>My Heroes</h2>
    <!-- displays the list of heroes. the ngFor directive loops through 
        each hero in the heroes array defined in the component file.
        the (click)= syntax is event binding, which binds the click event
        for each list element to the listed method in the component file.
        also contains class binding, which assigns the "selected" class to
        the element when the specified condition is met -->
<ul class="heroes">
    <li *ngFor="let hero of heroes"> 
        <a routerLink="/detail/{{hero.id}}">
            <span class="badge">{{hero.id}}</span> {{hero.name}}
        </a>
        <button class="delete" title="delete hero"
            (click)="delete(hero)">x</button>
    </li>
</ul>

<!-- a text input and a button to call the add function, passing the text as a parameter -->
<div>
    <label>Hero name:
      <input #heroName />
    </label>
    <!-- (click) passes input value to add() and then clears the input -->
    <button (click)="add(heroName.value); heroName.value=''">
      add
    </button>
  </div>